.b1{
  height: 50px;
  width: 280px;
  margin: 2px;
  border-radius: 10px;
  background-image:url("image/mixed1.jpeg");
  font-size: 17px;
}
body{
  background-image: url("image/blue.jpeg");
  background-repeat: none;
  background-size: cover;
  background-origin: fixed;
  background-position: center;
  background-attachment:fixed;
}
h2{
  text-align: center;
}
img{
  height: 100px;
  width: 100px;
  padding-left: 90px;
}
h1{
  margin: 2px;
}
#A{
    height: 50px;
  width: 280px;
  margin: 2px;
  border-radius: 10px;
  font-size: 17px;
  background-image:url("image/mixed1.jpeg");
}

div{
    background-image:url("image/mixed1.jpeg");
  margin: 10px;
  border-radius: 10px;
}